In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pingouin as pg

T-test

In [10]:
df1=pd.read_excel("Sales Data.xlsx",sheet_name='Sales Data')
df2=pd.read_excel("Sales Data.xlsx",sheet_name='Product Master')
df3=pd.read_excel("Sales Data.xlsx",sheet_name='Emp Master')

In [11]:
df4 = pd.merge(df1,df2, on ='Product ID', how ='inner')
df4['Revenue']=df4['Unit Sold']*df4['Price per unit']
df = pd.merge(df4,df3, on ='EMP ID', how ='inner')

In [14]:
df

,Date,EMP ID,Product ID,Unit Sold,Product Name,Price per unit,Revenue,EMP Name,Supervisor
0,2019-01-01,10019,P10007,199,Product-7,145,28855,EMP-19,Supervisor-4
1,2019-01-01,10019,P10007,264,Product-7,145,38280,EMP-19,Supervisor-4
2,2019-01-06,10019,P10007,256,Product-7,145,37120,EMP-19,Supervisor-4
3,2019-01-20,10019,P10007,55,Product-7,145,7975,EMP-19,Supervisor-4
4,2019-01-26,10019,P10007,87,Product-7,145,12615,EMP-19,Supervisor-4
...,...,...,...,...,...,...,...,...,...
6485,2019-04-07,10020,P10011,251,Product-11,23,5773,EMP-20,Supervisor-4
6486,2019-04-11,10020,P10011,58,Product-11,23,1334,EMP-20,Supervisor-4
6487,2019-04-11,10020,P10011,293,Product-11,23,6739,EMP-20,Supervisor-4
6488,2019-04-12,10020,P10011,98,Product-11,23,2254,EMP-20,Supervisor-4
6489,2019-04-20,10020,P10011,299,Product-11,23,6877,EMP-20,Supervisor-4

In [34]:
count1=df['Revenue'].count()

In [35]:
count1

6490

In [62]:
# Revenue from supervisr1
rev1=df[df['Supervisor']=='Supervisor-1']
rev1_sum=rev1.Revenue.sum()
rev1_count=rev1.Revenue.count()
rev1_mean=rev1_sum/rev1_count

# Revenue from supervisr2
rev2=df[df['Supervisor']=='Supervisor-2']
rev2_sum=rev2.Revenue.sum()
rev2_count=rev2.Revenue.count()
rev2_mean=rev2_sum/rev2_count

In [63]:
rev1_mean

15137.478326612903

In [64]:
rev2_mean

14711.63009636768

In [67]:
pg.ttest(rev1.Revenue, rev2.Revenue)

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,1.283289,2938.206243,two-sided,0.199492,"[-224.82, 1076.51]",0.045088,0.09,0.248018

Anova

In [70]:
aov = pg.anova(data=df, dv='Revenue', between='Supervisor', detailed=True)
aov

       Source            SS    DF            MS         F     p-unc       np2
0  Supervisor  2.293426e+08     3  7.644753e+07  0.867776  0.456963  0.000401
1      Within  5.713902e+11  6486  8.809592e+07       NaN       NaN       NaN

In [73]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

mod = ols('Revenue ~ Supervisor',
                data=df).fit()
                
aov_table = sm.stats.anova_lm(mod, typ=2)
aov_table

                  sum_sq      df         F    PR(>F)
Supervisor  2.293426e+08     3.0  0.867776  0.456963
Residual    5.713902e+11  6486.0       NaN       NaN